In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('./FakeNamesUK4.csv', sep=',')

c:\program files\python36\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (12,13,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.columns

Index(['Number', 'Gender', 'Title', 'Name'', ''Name', 'Address', 'City',
       'Country', 'ZipCode', 'EmailAddress', 'Username', 'Password',
       'Birthday', 'CCType', 'CCNumber', 'CVV2', 'CCExpires', 'BloodType',
       'Kilograms', 'Centimeters'],
      dtype='object')

In [4]:
col = ['Number', 'Gender', 'Title', 'Name', 'Surname', 'Address','ZipCode', 'EmailAddress', 'Username', 'Password',
       'Birthday', 'CCType', 'CCNumber', 'CVV2', 'CCExpires', 'BloodType',
       'Kilograms', 'Centimeters','City',
       'Country',]

In [5]:
data.columns = col

In [6]:
del data['City']
del data['Country']

In [7]:
data

,Number,Gender,Title,Name,Surname,Address,ZipCode,EmailAddress,Username,Password,Birthday,CCType,CCNumber,CVV2,CCExpires,BloodType,Kilograms,Centimeters
0,1.0,male,Mr.,Dewei,Tuan,"42 Main Rd, FOEL, UK",SY21 3FF,DeweiTuan@fleckens.hu,Piten1973,ohSooZ2d,7/31/1973,MasterCard,5371472825372403,919,9/2019,B+,89.6,183
1,2.0,female,Ms.,Natasha,Watts,"46 Coast Rd, KIRKPATRICK-FLEMING, UK",DG11 2HN,NatashaWatts@jourrapide.com,Fultank,Neey0ko8,10/30/1934,Visa,4716753125322116,677,3/2017,B+,52.4,170
2,3.0,female,Mrs.,Qing Yuan,Ch'ien,"3 Friar Street, CLAWDD-NEWYDD, UK",LL15 0SQ,QingYuanChien@rhyta.com,Diater,Iemah8too,6/8/1981,Visa,4485122099933788,895,5/2016,AB+,91.0,158
3,4.0,male,Mr.,Nathan,Bykov,"79 Abbey Row, NORTON BRIDGE, UK",ST15 3JF,NathanBykov@einrot.com,Cougge,cieMa8chai8!,10/23/1979,Visa,4532644318841479,295,5/2018,O+,110.4,187
4,5.0,female,Mrs.,Hua,Han,"37 Shire Oak Road, SAXTHORPE, UK",NR11 4WE,HuaHan@superrito.com,Priese,ad6ir0Leich,12/19/1943,Visa,4485599386962523,711,3/2017,B+,84.1,155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99991,99996.0,male,Mr.,Hsin,Chiang,"85 Pier Road, STANTON BY BRIDGE, UK",DE73 2DW,HsinChiang@fleckens.hu,Spersen,zoo9jiy8ohTh,3/11/1946,Visa,4485971302727449,929,3/2016,A+,63.8,172
99992,99997.0,female,Ms.,Cai,Hs?eh,"55 Overton Circle, LITTLE-DEAN, UK",GL14 6TG,CaiHsueh@fleckens.hu,Pronce,ACh5eoreer8,7/10/1986,Visa,4485866305481020,640,7/2017,O-,84.9,157
99993,99998.0,male,Mr.,Finlay,Storey,"13 Main St, ACHNACLOICH, UK",PA37 6NG,FinlayStorey@armyspy.com,Foreme1963,haiPhees1k,10/2/1963,MasterCard,5178156818415783,595,4/2019,O+,115.6,176
99994,99999.0,female,Mrs.,Qing Yuan,Yao,"52 Abbey Row, NUP END, UK",HP22 7PJ,QingYuanYao@cuvox.de,Mants1929,juw7DesieKa,11/24/1929,Visa,4485148899899473,429,8/2019,O+,51.9,158
99995,100000.0,male,Mr.,Wei,Ch'in,"35 Walden Road, GREAT WARLEY, UK",CM13 2BU,WeiChin@fleckens.hu,Hatmarat69,EeYah4eeLah,4/21/1969,MasterCard,5458415141708657,311,3/2016,O+,132.8,184

Joining the Respective Names columns for effective analysis than working with the names seperately

In [8]:
data['Name'] = data['Name']+' '+data['Surname']

In [9]:
del data['Surname']

In [10]:
data

,Number,Gender,Title,Name,Address,ZipCode,EmailAddress,Username,Password,Birthday,CCType,CCNumber,CVV2,CCExpires,BloodType,Kilograms,Centimeters
0,1.0,male,Mr.,Dewei Tuan,"42 Main Rd, FOEL, UK",SY21 3FF,DeweiTuan@fleckens.hu,Piten1973,ohSooZ2d,7/31/1973,MasterCard,5371472825372403,919,9/2019,B+,89.6,183
1,2.0,female,Ms.,Natasha Watts,"46 Coast Rd, KIRKPATRICK-FLEMING, UK",DG11 2HN,NatashaWatts@jourrapide.com,Fultank,Neey0ko8,10/30/1934,Visa,4716753125322116,677,3/2017,B+,52.4,170
2,3.0,female,Mrs.,Qing Yuan Ch'ien,"3 Friar Street, CLAWDD-NEWYDD, UK",LL15 0SQ,QingYuanChien@rhyta.com,Diater,Iemah8too,6/8/1981,Visa,4485122099933788,895,5/2016,AB+,91.0,158
3,4.0,male,Mr.,Nathan Bykov,"79 Abbey Row, NORTON BRIDGE, UK",ST15 3JF,NathanBykov@einrot.com,Cougge,cieMa8chai8!,10/23/1979,Visa,4532644318841479,295,5/2018,O+,110.4,187
4,5.0,female,Mrs.,Hua Han,"37 Shire Oak Road, SAXTHORPE, UK",NR11 4WE,HuaHan@superrito.com,Priese,ad6ir0Leich,12/19/1943,Visa,4485599386962523,711,3/2017,B+,84.1,155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99991,99996.0,male,Mr.,Hsin Chiang,"85 Pier Road, STANTON BY BRIDGE, UK",DE73 2DW,HsinChiang@fleckens.hu,Spersen,zoo9jiy8ohTh,3/11/1946,Visa,4485971302727449,929,3/2016,A+,63.8,172
99992,99997.0,female,Ms.,Cai Hs?eh,"55 Overton Circle, LITTLE-DEAN, UK",GL14 6TG,CaiHsueh@fleckens.hu,Pronce,ACh5eoreer8,7/10/1986,Visa,4485866305481020,640,7/2017,O-,84.9,157
99993,99998.0,male,Mr.,Finlay Storey,"13 Main St, ACHNACLOICH, UK",PA37 6NG,FinlayStorey@armyspy.com,Foreme1963,haiPhees1k,10/2/1963,MasterCard,5178156818415783,595,4/2019,O+,115.6,176
99994,99999.0,female,Mrs.,Qing Yuan Yao,"52 Abbey Row, NUP END, UK",HP22 7PJ,QingYuanYao@cuvox.de,Mants1929,juw7DesieKa,11/24/1929,Visa,4485148899899473,429,8/2019,O+,51.9,158
99995,100000.0,male,Mr.,Wei Ch'in,"35 Walden Road, GREAT WARLEY, UK",CM13 2BU,WeiChin@fleckens.hu,Hatmarat69,EeYah4eeLah,4/21/1969,MasterCard,5458415141708657,311,3/2016,O+,132.8,184

In [11]:
data.to_csv('./Fakenames_refined.csv',index=None)

Converting the columns to their neccessary dtype

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99996 entries, 0 to 99995
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Number        99995 non-null  float64
 1   Gender        98809 non-null  object
 2   Title         99956 non-null  object
 3   Name          99943 non-null  object
 4   Address       99879 non-null  object
 5   ZipCode       99880 non-null  object
 6   EmailAddress  99880 non-null  object
 7   Username      99879 non-null  object
 8   Password      99879 non-null  object
 9   Birthday      99879 non-null  object
 10  CCType        99879 non-null  object
 11  CCNumber      99879 non-null  object
 12  CVV2          99942 non-null  object
 13  CCExpires     99942 non-null  object
 14  BloodType     99925 non-null  object
 15  Kilograms     99867 non-null  object
 16  Centimeters   99754 non-null  object
dtypes: float64(1), object(16)
memory usage: 13.0+ MB

In [13]:
data.loc[data['Birthday'] == 'Homplever', ['Address']]

                                              Address
69  61 Ermin Street, WYKEHAM, UK ,YO17 9YT,HuiYuan...

In [14]:
y = data['Address'].iloc[69]
y

'61 Ermin Street, WYKEHAM, UK ,YO17 9YT,HuiYuan@teleworm.us,Drues1947,FuiN0quah,11/17/1947,MasterCard,5126644024838933,223,6/2019,O+,119,177\r\n71,female,Mrs.,Lucia,Alekseyeva,45 Marlborough Crescent'

In [15]:
p = '70,male,Mr.,Hui Yuan,61 Ermin Street, WYKEHAM, UK ,YO17 9YT,HuiYuan@teleworm.us,Drues1947,FuiN0quah,11/17/1947,MasterCard,5126644024838933,223,6/2019,O+,119,177'

In [16]:
data.loc[(data['Name'] == name)&(data['Birthday'] == 'Homplever'), ['Number']] = 71
data.loc[(data['Name'] == name)&(data['Birthday'] == 'Homplever'), ['Gender']] = 'female'
data.loc[(data['Name'] == name)&(data['Birthday'] == 'Homplever'), ['Title']] = 'Mrs.'
data.loc[(data['Name'] == 'Hui Yuan')&(data['Birthday'] == 'Homplever'), ['Name']] = name
data.loc[(data['Name'] == name)&(data['Birthday'] == 'Homplever'), ['Address']] = y.split(',')[-1]+', '+'SOUTH WOOTTON, UK'
data.loc[(data['Name'] == name), ['ZipCode']] = 'PE30 1WD'
data.loc[(data['Name'] == name), ['EmailAddress']] = 'LuciaAlekseyeva@armyspy.com'
data.loc[(data['Name'] == name), ['Username']] = 'Homplever'
data.loc[(data['Name'] == name), ['Password']] = 'Eicie2phie'
data.loc[(data['Name'] == name), ['Birthday']] = '5/31/1939'
data.loc[(data['Name'] == name), ['CCType']] = 'MasterCard'
data.loc[(data['Name'] == name), ['CCNumber']] = '552061072105673'
data.loc[(data['Name'] == name), ['CVV2']] = '351'
data.loc[(data['Name'] == name), ['CCExpires']] = '4/2018'
data.loc[(data['Name'] == name), ['BloodType']] = 'O+'
data.loc[(data['Name'] == name), ['Kilograms']] = '69.6'
data.loc[(data['Name'] == name), ['Centimeters']] = '153'

NameError: name 'name' is not defined

In [ ]:
data = data.append({'Number':p.split(',')[0],
'Gender':p.split(',')[1],
'Title' : p.split(',')[2],
'Name' : p.split(',')[3],
'Address' : p.split(',')[4],
'ZipCode' : p.split(',')[6]+', '+p.split(',')[7],
'EmailAddress' : p.split(',')[8],
'Username' : p.split(',')[9],
'Password' : p.split(',')[10],
'Birthday' : p.split(',')[11],
'CCType' : p.split(',')[12],
'CCNumber' : p.split(',')[13],
'CVV2': p.split(',')[14],
'CCExpires' : p.split(',')[15],
'BloodType' : p.split(',')[16],
'Kilograms' : p.split(',')[17],
'Centimeters' : p.split(',')[18]}, ignore_index=True)

In [ ]:
data.columns

In [ ]:
data.info()

In [ ]:
data[data.isna().any(axis=1)]

In [ ]:
data[data.isna().any(axis=1)]

In [ ]:
data[data['Number'] == 2639]

In [ ]:
data[data['Centimeters'] == 'female']

In [ ]:
data.iloc[2623]

In [17]:
data = data.dropna()

In [18]:
data = data.reindex(range(0,len(data)))

In [19]:
data = data.dropna()

In [20]:
data

,Number,Gender,Title,Name,Address,ZipCode,EmailAddress,Username,Password,Birthday,CCType,CCNumber,CVV2,CCExpires,BloodType,Kilograms,Centimeters
0,1.0,male,Mr.,Dewei Tuan,"42 Main Rd, FOEL, UK",SY21 3FF,DeweiTuan@fleckens.hu,Piten1973,ohSooZ2d,7/31/1973,MasterCard,5371472825372403,919,9/2019,B+,89.6,183
1,2.0,female,Ms.,Natasha Watts,"46 Coast Rd, KIRKPATRICK-FLEMING, UK",DG11 2HN,NatashaWatts@jourrapide.com,Fultank,Neey0ko8,10/30/1934,Visa,4716753125322116,677,3/2017,B+,52.4,170
2,3.0,female,Mrs.,Qing Yuan Ch'ien,"3 Friar Street, CLAWDD-NEWYDD, UK",LL15 0SQ,QingYuanChien@rhyta.com,Diater,Iemah8too,6/8/1981,Visa,4485122099933788,895,5/2016,AB+,91.0,158
3,4.0,male,Mr.,Nathan Bykov,"79 Abbey Row, NORTON BRIDGE, UK",ST15 3JF,NathanBykov@einrot.com,Cougge,cieMa8chai8!,10/23/1979,Visa,4532644318841479,295,5/2018,O+,110.4,187
4,5.0,female,Mrs.,Hua Han,"37 Shire Oak Road, SAXTHORPE, UK",NR11 4WE,HuaHan@superrito.com,Priese,ad6ir0Leich,12/19/1943,Visa,4485599386962523,711,3/2017,B+,84.1,155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98522,98527.0,female,Ms.,Hua Tsao,"84 Earls Avenue, WHITELEYS, UK",DG9 5SH,HuaTsao@fleckens.hu,Alisher,iph2ChaiC,2/17/1978,Visa,4485835220647676,362,8/2019,B+,76.6,167
98523,98528.0,female,Ms.,Melissa Bibi,"34 Russell Rd, SHIREBROOK, UK",NG20 5HG,MelissaBibi@jourrapide.com,Aninge,Uv1sah5OhG,12/29/1966,MasterCard,5250761873894771,867,7/2018,A+,67.5,167
98524,98529.0,male,Mr.,Chung Ni,"9 West Lane, DALGINROSS, UK",PH6 9NX,ChungNi@armyspy.com,Wittaloo,chohmi9Phe1,1/7/1931,Visa,4916431732987435,353,9/2019,O+,99.9,165
98525,98530.0,female,Ms.,Eloise Metcalfe,"67 Circle Way, CADLE, UK",SA5 7AD,EloiseMetcalfe@einrot.com,Trone1943,Xeiyai3ohY2Oo,6/30/1943,Visa,4556853151023662,276,12/2019,O+,91.8,170
98526,98531.0,male,Mr.,Jack Bentley,"69 Station Rd, PWLLMEYRIC, UK",NP6 4GD,JackBentley@rhyta.com,Gattim,Tie0uo6qu!,10/30/1994,MasterCard,5251341939621853,739,7/2020,O+,99.5,177

In [21]:
data.loc[data['Name'] == 'Dewei Tuan']

,Number,Gender,Title,Name,Address,ZipCode,EmailAddress,Username,Password,Birthday,CCType,CCNumber,CVV2,CCExpires,BloodType,Kilograms,Centimeters
0,1.0,male,Mr.,Dewei Tuan,"42 Main Rd, FOEL, UK",SY21 3FF,DeweiTuan@fleckens.hu,Piten1973,ohSooZ2d,7/31/1973,MasterCard,5371472825372403,919,9/2019,B+,89.6,183
77788,77793.0,male,Mr.,Dewei Tuan,"23 Wade Lane, SALTFORD, UK",BS18 9ZL,DeweiTuan@dayrep.com,Fewillic,eeLeeboo1oi,3/24/1986,Visa,4929709643574276,569,10/2019,B+,98.8,176
87332,87337.0,male,Mr.,Dewei Tuan,"34 Eastbourne Rd, COLLACE, UK",PH2 3FB,DeweiTuan@cuvox.de,Roure1980,pu8seeCheVoolo,12/18/1980,MasterCard,5266887624630222,968,10/2019,B+,68.4,173
89374,89379.0,male,Mr.,Dewei Tuan,"56 Thames Street, BONAWE QUARRIES, UK",PA37 4RQ,DeweiTuan@teleworm.us,Slingly,bu2ahChah,12/26/1962,MasterCard,5378288959479886,675,12/2016,O+,94.5,170

In [22]:
data.loc[data['Centimeters'] == 'female', ['Centimeters']] = ' '

In [23]:
data.loc[data['Centimeters'] == ' ',['Centimeters']] = np.nan

In [24]:
data.loc[data['BloodType'] == 'Greta']

,Number,Gender,Title,Name,Address,ZipCode,EmailAddress,Username,Password,Birthday,CCType,CCNumber,CVV2,CCExpires,BloodType,Kilograms,Centimeters
2637,2639.0,female,Ms.,Yun 2640,female,Ms.,Nick,2641,female,Mrs.,Sophie,2642,female,Mrs.,Greta,2643,NaN

In [25]:
data = data.dropna()

In [26]:
data.loc[data['Centimeters'] == '#REF!']

,Number,Gender,Title,Name,Address,ZipCode,EmailAddress,Username,Password,Birthday,CCType,CCNumber,CVV2,CCExpires,BloodType,Kilograms,Centimeters
33196,33201.0,male,Mr.,Albert Bezrukov,"32 Ings Lane, DEAN, UK",CA14 0QB,AlbertBezrukov@teleworm.us,Unterequan,zahChai,j7kai,3/29/1986,Visa,4.53206e+15,707,6/2020,O+,#REF!

In [27]:
data.loc[data['Centimeters'] == '#REF!', ['Birthday']] = 3/29/1986
data.loc[data['Centimeters'] == '#REF!', ['CCType']] = 'Visa'
data.loc[data['Centimeters'] == '#REF!', ['CCNumber']] = '4532062269162987'
data.loc[data['Centimeters'] == '#REF!', ['CVV2']] = 707
data.loc[data['Centimeters'] == '#REF!', ['CCExpires']] = '6/2020'
data.loc[data['Centimeters'] == '#REF!', ['BloodType']] = 'O+'
data.loc[data['Centimeters'] == '#REF!', ['Kilograms']] = 101.3
data.loc[data['Centimeters'] == '#REF!', ['Centimeters']] = 182

c:\program files\python36\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [28]:
data.loc[data['Birthday'] == '3/29/1986']

,Number,Gender,Title,Name,Address,ZipCode,EmailAddress,Username,Password,Birthday,CCType,CCNumber,CVV2,CCExpires,BloodType,Kilograms,Centimeters
11770,11775.0,male,Dr.,Kang Hsia,"39 Argyll Road, LLAN, UK",SY19 2JW,KangHsia@teleworm.us,Composidand,doCii5Weloo,3/29/1986,MasterCard,5134230314576985,473,7/2017,O+,#REF!,178
19923,19928.0,female,Mrs.,Euphrosyne Kotova,"78 Wrexham Road, FERNDOWN, UK",BH22 2ZW,EuphrosyneKotova@fleckens.hu,Hasurseen,aizieFoo4th,3/29/1986,MasterCard,5155404262833524,211,4/2016,O+,101.3,154
20916,20921.0,female,Ms.,Anna Hopkins,"56 Osborne Road, KILPATRICK, UK",KA27 1EH,AnnaHopkins@rhyta.com,Lestoregre,ePhee4eich!,3/29/1986,Visa,4716176609088823,611,3/2019,O+,92.5,171
46955,46960.0,female,Ms.,Miroslav Matveyeva,"66 Harrogate Road, SACKERS GREEN, UK",CO10 6BG,MiroslavMatveyeva@fleckens.hu,Erepaing,aeNgeiv2se,3/29/1986,Visa,4532348856188158,456,2/2020,O+,91.5,168
72829,72834.0,female,Mrs.,An Ch'ang,"7 Whitby Road, DENDRON, UK",LA13 6GJ,AnChang@armyspy.com,Hiceivien,nieCh5Coh,3/29/1986,MasterCard,5387711705076382,958,1/2019,O+,79.1,159
78907,78912.0,male,Mr.,Finley Stevenson,"52 Neville Street, ILKETSHALL ST MARGARET, UK",NR35 0DR,FinleyStevenson@jourrapide.com,Torandready,Queesoi3iej,3/29/1986,Visa,4716374312198308,610,8/2020,O+,89.9,171

In [29]:
data.loc[data['Centimeters'] == 'A+']

,Number,Gender,Title,Name,Address,ZipCode,EmailAddress,Username,Password,Birthday,CCType,CCNumber,CVV2,CCExpires,BloodType,Kilograms,Centimeters
76923,76928.0,male,Mr.,Ethan Gould,73 Thornton St,HUNTINGFORD,"UK """,SP8 7BZ,EthanGould@gustr.com,Faid1946,eiM6quaeT4,8/3/1946,MasterCard,5319282120541510,678,1/2017,A+

In [30]:
data.loc[data['Centimeters'] == 'A+', ['EmailAddress']] = 'EthanGould@gustr.com'
data.loc[data['Centimeters'] == 'A+', ['Username']] = 'Faid1946'
data.loc[data['Centimeters'] == 'A+', ['Password']] = 'eiM6quaeT4'
data.loc[data['Centimeters'] == 'A+', ['Address']] = '73 Thornton St, HUNTINGFORD, UK'
data.loc[data['Centimeters'] == 'A+', ['ZipCode']] = 'SP8 7BZ'
data.loc[data['Centimeters'] == 'A+', ['Birthday']] = 8/3/1946
data.loc[data['Centimeters'] == 'A+', ['CCType']] = 'MasterCard'
data.loc[data['Centimeters'] == 'A+', ['CCNumber']] = '5319282120541510'
data.loc[data['Centimeters'] == 'A+', ['CVV2']] = 678
data.loc[data['Centimeters'] == 'A+', ['CCExpires']] = '1/2017'
data.loc[data['Centimeters'] == 'A+', ['BloodType']] = 'A+'
data.loc[data['Centimeters'] == 'A+', ['Kilograms']] = 108.5
data.loc[data['Centimeters'] == 'A+', ['Centimeters']] = 184

c:\program files\python36\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [31]:
data =data.loc[data['Centimeters'] != 'O+']

In [32]:
data['Centimeters'] = pd.to_numeric(data['Centimeters'])

In [33]:
data.loc[data['Kilograms'] == '#REF!',['Kilograms']] = 0

In [34]:
data = data.loc[data['Kilograms'] != 'A-']

In [35]:
data['Kilograms'] = pd.to_numeric(data['Kilograms'])

In [ ]:
data['Birthday'] = pd.to_datetime(data['Birthday'])

In [ ]:
data['CCExpires'] = pd.to_datetime(data['CCExpires'])

In [ ]:
data['CCNumber'] = pd.to_numeric(data['CCNumber'])

In [ ]:
data['CCExpires'] = pd.to_datetime(data['CCExpires'])

In [ ]:
data['CVV2'] = pd.to_numeric(data['CVV2'])

In [ ]:
data.to_csv('./Fakenames_refined.csv', index=False)

In [ ]:
data.info()

In [ ]:
from scipy import stats

EAD ---- Exploratory Data analysis.

Converting Centimeter to meters

In [ ]:
data['meters'] = data['Centimeters'] / 100

In [ ]:
data['BMI'] = round(data['Kilograms']/data['meters']**2,1)

In [ ]:
data['Age'] = 2020 - data['Birthday'].dt.year

In [ ]:
#checking the distribution of the column 'BMI'
#There seem to be a hump around the 0-scale
with plt.style.context('seaborn'):
    plt.figure(figsize=(7,4))
    plt.hist(data['BMI'], bins=20, edgecolor='black', label='BMI')
    plt.legend()

In [ ]:
#checking the distribution of the column 'Kilograms'
#There seem to be a hump around the 0-scale
with plt.style.context('seaborn'):
    plt.figure(figsize=(7,4))
    plt.hist(data['Kilograms'], bins=20, edgecolor='black', label='Kilograms')
    plt.legend()

In [ ]:
#checking the distribution of the column 'Meters'
with plt.style.context('seaborn'):
    plt.figure(figsize=(7,4))
    plt.hist(data['meters'], bins=20, edgecolor='black', label='meters')
    plt.legend()

Checking in BMI, if we have data on 0-scale

In [ ]:
#7763 rows have 0-scale
#if we fill it up with mode/mean/median
#the rows are far too many to fill up
#the data will be Biased
len(data.loc[data['Kilograms'] == 0])

In [ ]:
len(data.loc[data['BMI'] == 0])

In [ ]:
#Checking the 0-scale distribution among genders
data.loc[data['Kilograms'] == 0]['Gender'].value_counts()

Dropping the '0' scale in the kilograms

In [ ]:
data = data.loc[data['Kilograms'] != 0]

In [ ]:
#The new distribution of BMI'
with plt.style.context('seaborn'):
    plt.figure(figsize=(7,4))
    plt.hist(data['BMI'], bins=30, edgecolor='black', label='BMI')
    plt.legend()
    plt.show()

In [ ]:
#The new distribution of Kilogram'
with plt.style.context('seaborn'):
    plt.figure(figsize=(7,4))
    plt.hist(data['Kilograms'], bins=30, edgecolor='black', label='BMI')
    plt.legend()
    plt.show()

QUESTION 1. Find the similarities and differences of the patients' gender based on their BMI. Test for the assumptions and use the right statistical tool.

In [ ]:
#Data categorised based on Genders
female = data.loc[data['Gender'] == 'female']
male = data.loc[data['Gender'] != 'female']

In [ ]:
#Checking the difference of the both Gender's Body Mass Index thru Mean,
#Using the 'Mean', there's a difference between both Genders
female['BMI'].mean(), male['BMI'].mean()

In [ ]:
#Using 'Independent t-Test'
#We want to see, if they BMI is statiscally Different Based on BMI
#Having compared mean of both Gender,we want to use the independent t-test, to know, if the difference is statiscally significant or Not
#NB: 'equal_var' was set to FALSE bcux both gender mean were different, so they share no similar variance.
answer1 = stats.ttest_ind(a=female['BMI'], b=male['BMI'], equal_var=False)

In [ ]:
#Our p-value is 1.
#This means that the Gender BMI,are similar 
answer1

In [ ]:
#Graphically shows similarity
with plt.style.context('seaborn'):
    plt.hist(data.groupby('Gender')['BMI'].sum(), stacked=True,)

Question 4. Find if there is a statistical difference between the gender and the patients' blood type.

In [ ]:
#Creating a Frequency-Table for Efficient Analysis
result = pd.crosstab(index=data['Gender'], columns=data['BloodType'])
result

In [ ]:
#Using the Chisquare-test to test the association/similarity between Gender and their BloodGroup(two categorical variables)
#Our P-value is 0.0, which means that they is a statistical difference b/w Gender & their bloodgroup
chi2, pvalue, dof, expected = stats.chi2_contingency(result)
print('chi2==>',chi2)
print()
print('pvalue==>',pvalue)
print()
print('Degree of Freedom==>',dof)

In [ ]:
#Graphically there is no Similarities
with plt.style.context('seaborn'):
    plt.figure(figsize=(10,4))
    plt.hist(female.BloodType, bins=10,color='pink',edgecolor='black', label='Female BloodType')
    plt.legend()

In [ ]:
with plt.style.context('seaborn'):
    plt.figure(figsize=(10,4))
    plt.hist(male.BloodType, bins=10, edgecolor='black', label='male BloodType')
    plt.legend()

Question 5. Find if there is a relationship between the patient's body weight and height.

In [ ]:
#Using the Spearman coefficient to find, if there's a non-linear relationship between weight and height
#with the result There isn't any relationship
spearman, p = stats.spearmanr(data['Kilograms'], data['meters'])
spearman

In [ ]:
#Using the Pearson coefficient to find, if there's a linear relationship between weight and height
#Still no relationship
pearson,p = stats.pearsonr(data['Kilograms'], data['meters'])
pearson

In [ ]:
#Graphically there's isn't any relationship
#from the linear perceptive tho
with plt.style.context('seaborn'):
    sns.scatterplot(data['Kilograms'], data['Centimeters'])
    plt.show()

In [ ]:
#Thanks, this data isn't real